body {
    background-color: #000;
    font-family: "Markazi Text", serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 1rem;
}

section {
    display: flex;
    justify-content: space-between;
}

article {
    flex: 1;
    margin-right: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer div {
    flex: 1;
    text-align: center;
}

footer p {
    margin: 0;
}
